body {
  height: 100%;
  width: 100%;
}

.word {
  color: #6cb33f;
  font-size: 60px;
}

.A {
  font-size: 60px;
}

.element {
  background: linear-gradient(
    to right,
    #eaf8e4 15%,
    rgb(220, 248, 248) 30%,
    white 90%
  );
  background-size: 100% 50%;
  z-index: -2;
}

.image-container {
  position: absolute;
  top: 0px;
  left: -180px;
  width: 61%;
  height: 86vh;
  z-index: 1;
  pointer-events: none;
}

.demo {
  background-color: #ff5733;
  position: relative;
  z-index: 10;
}

.top-image {
  width: 100%;
  height: 100%;
}
