@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
}
nav .logo {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: #333;
}
.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-content {
  padding: 20px;
}
.lists .list {
  list-style: none;
  margin-bottom: 16px;
}
.list .nav-link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 8px;
  color: #707070;
  transition: background-color 0.3s, color 0.3s;
}
.list .nav-link:hover {
  background-color: #4070f4;
  color: #fff;
}
.nav-link .icon {
  font-size: 20px;
  margin-right: 14px;
}
.bottom-content {
  padding: 20px;
}
.main-content {
  flex: 1;
  padding: 20px;
}

.sidebar-content .list {
  list-style: none; /* Remove dots from the list */
}
