/* 1600px and below */
@media (max-width: 1600px) {
  .bottomfp-wrapper {
    width: 90%;
  }
  .bottomfp-icon {
    width: 3.25rem;
    height: 3.25rem;
  }
  .bottomfp-img {
    width: 2.25rem;
  }
  .bottomfp-content {
    transform: translateY(2rem);
  }
}

/* 1400px and below */
@media (max-width: 1400px) {
  .bottomfp-image-container {
    max-width: 32rem;
  }

  .bottomfp-title {
    font-size: 2.2rem;
  }
}

/* 1300px and below */
@media (max-width: 1300px) {
  .bottomfp-image-container {
    max-width: 30rem;
  }
  .bottomfp-content {
    max-width: 30rem;
    transform: translateY(1rem) translateY(2rem);
  }
  .bottomfp-title {
    font-size: 2rem;
  }
  .bottomfp-feature p {
    font-size: 0.9rem;
  }
}

/* 1200px and below */
@media (max-width: 1200px) {
  .bottomfp-image-container {
    max-width: 28rem;
  }
  .bottomfp-title {
    font-size: 1.9rem;
  }
  .bottomfp-content {
    transform: translateX(1rem) translateY(4rem);
  }
}

/* 1100px and below */
@media (max-width: 1100px) {
  .bottomfp-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .bottomfp-heading {
    font-size: 1.1rem;
  }
  .bottomfp-feature p {
    font-size: 0.95rem;
  }
  .bottomfp-image-container {
    max-width: 25rem;
  }
  .bottomfp-content {
    transform: translateX(1.5rem) translateY(4.5rem);
  }
  .bottomfp-wrapper {
    width: 95%;
    transform: translateY(-2rem);
  }
}

/* 1000px and below */
@media (max-width: 1000px) {
  .bottomfp-image-container {
    max-width: 23rem;
  }
  .bottomfp-content {
    max-width: 28rem;
    transform: translateY(5rem);
  }
  .bottomfp-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .bottomfp-feature p {
    font-size: 0.8rem;
  }
  .bottomfp-heading {
    font-size: 1rem;
  }
  .bottomfp-feature {
    margin-top: 15px;
  }
  .bottomfp-icon {
    width: 3rem;
    height: 3rem;
  }
  .bottomfp-img {
    width: 2rem;
  }
}

/* 900px and below */
@media (max-width: 900px) {
  .bottomfp-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .bottomfp-image-container {
    max-width: 20rem;
  }
  .bottomfp-content {
    transform: translateY(6.54rem);
  }
  .bottomfp-feature p {
    font-size: 0.9rem;
  }
  .bottomfp-heading {
    font-size: 1.1rem;
  }
  .bottomfp-wrapper {
    transform: translateY(-4rem);
  }
}

/* 800px and below */
@media (max-width: 800px) {
  .bottomfp-content {
    max-width: 28rem;
    transform: translateY(7.5rem);
  }
  .bottomfp-image-container {
    max-width: 18rem;
  }
  .bottomfp-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .bottomfp-feature p {
    font-size: 0.8rem;
  }
  .bottomfp-heading {
    font-size: 1rem;
  }
  .bottomfp-feature {
    margin-top: 10px;
  }
  .bottomfp-icon {
    width: 3rem;
    height: 3rem;
  }
  .bottomfp-img {
    width: 2rem;
  }
  .bottomfp-wrapper {
    transform: translateY(-4rem);
  }
}

/* 700px and below - switch to vertical layout */
@media (max-width: 700px) {
  .bottomfp-container {
    transform: translateY(1rem);
  }
  .bottomfp-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .bottomfp-image-container {
    max-width: 28rem;
    margin-top: 3rem;
    box-sizing: border-box;
    transform: translateY(-2rem) translateX(1.5rem);
  }
  .bottomfp-content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(1rem);
  }
  .bottomfp-icon {
    width: 3rem;
    height: 3rem;
  }
  .bottomfp-feature img {
    width: 2rem;
  }
  .bottomfp-feature {
    width: 28rem;
  }
  .bottomfp-title {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .bottomfp-feature p {
    font-size: 0.8rem;
  }
  .bottomfp-heading {
    font-size: 1rem;
  }
}

/* 600px and below */
@media (max-width: 600px) {
  .bottomfp-image-container {
    max-width: 25rem;
  }
  .bottomfp-wrapper {
    transform: translateY(-1rem);
  }

  .bottomfp-content h2 {
    font-size: 1.5rem;
  }
}

/* 500px and below */
@media (max-width: 500px) {
  .bottomfp-title {
    font-size: 1.8rem;
  }
  .bottomfp-feature {
    width: 23rem;
  }
  .bottomfp-content h2 {
    font-size: 1.2rem;
  }
  .bottomfp-container {
    margin-bottom: 0px;
  }
}

/* 400px and below */
@media (max-width: 400px) {
  .bottomfp-content {
    max-width: 25rem;
  }
  .bottomfp-feature {
    width: 20rem;
  }
  .bottomfp-content h2 {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .bottomfp-content {
    max-width: 25rem;
  }
  .bottomfp-feature {
    width: 20rem;
  }
  .bottomfp-content h2 {
    font-size: 1.2rem;
  }
}
