/* 1400px and below */

@media (max-width: 93.75rem) {
  .element h1 {
    font-size: 3rem;
    margin-left: 1.875rem;
  }
  .element p {
    font-size: 1.2rem;
    margin-left: 1.875rem;
  }

  .demo {
    margin-left: 1.875rem;
  }
  .element iframe {
    width: 39.375rem;
    height: 33.125rem;
  }
  .video {
    transform: translateX(-2rem);
  }
  .element {
    height: 47rem;
  }
}

@media (max-width: 87.5rem) {
  .element iframe {
    width: 38.125rem;
    height: 31.875rem;
  }
  .image-container {
    transform: translateX(-0.625rem);
  }
  .video {
    transform: translateX(-2rem);
    width: 38.125rem;
  }
}

@media (max-width: 81.25rem) {
  .element iframe {
    width: 36.875rem;
    height: 30.625rem;
  }
  .area {
    transform: translateX(0rem) translateY(-2.5rem);
  }
  .image-container {
    transform: translateX(1.3rem);
  }

  .demo {
    padding: 1rem 1.375rem;
    margin-top: 2rem;
  }

  .element h1 {
    margin-bottom: 0.6rem;
  }

  .video {
    width: 37rem;
  }
}

@media (max-width: 75rem) {
  .element iframe {
    width: 34.375rem;
    height: 28.125rem;
  }
  .area {
    transform: translateX(1.2rem) translateY(-3rem);
  }
  .image-container {
    transform: translateX(2rem);
  }
  .video {
    width: 34.425rem;
    transform: translateX(-2rem) translateY(-3rem);
  }
  .element {
    height: 42rem;
  }
  .element h1 {
    margin-bottom: 0.2rem;
  }
  .demo {
    margin-top: 1rem;
  }
}

@media (max-width: 68.75rem) {
  .element h1 {
    font-size: 2.7rem;
    margin-left: 1.875rem;
    margin-bottom: 0rem;
  }
  .element p {
    font-size: 1.1rem;
    margin-left: 1.875rem;
  }

  .element iframe {
    width: 31.875rem;
    height: 25.625rem;
  }
  .area {
    transform: translateX(0rem) translateY(-4rem);
  }
  .image-container {
    transform: translateX(2rem);
  }

  .video {
    width: 31rem;
    min-width: fit-content;
  }

  .element {
    height: 40rem;
  }

  .demo {
    padding: 0.875rem 1.25rem;
  }
}

@media (max-width: 62.5rem) {
  .element h1 {
    font-size: 2.4rem;
    margin-left: 1.875rem;
  }
  .element p {
    font-size: 1rem;
    margin-left: 1.875rem;
  }
  .element iframe {
    width: 29.375rem;
    height: 23.125rem;
  }
  .area {
    transform: translateX(-0.5rem) translateY(-6rem);
  }
  .video {
    width: 29rem;
    min-width: fit-content;
    transform: translateX(-1.7rem) translateY(-6rem);
  }

  .image-container {
    transform: translateX(3rem);
  }
  .element {
    height: 36rem;
  }
}

@media (max-width: 56.25rem) {
  .element h1 {
    font-size: 2.2rem;
    margin-left: 1.875rem;
  }

  .demo {
    padding: 0.7rem 1rem;
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .A,
  .word {
    font-size: 3rem !important;
  }

  .element p {
    font-size: 0.8rem;
    margin-left: 1.875rem;
    margin-top: 0.5rem;
  }
  .element iframe {
    width: 26.875rem;
    height: 20.625rem;
  }

  .image-container {
    transform: translateX(3rem);
  }

  .video {
    width: 25rem;
    min-width: fit-content;
    transform: translateX(-2rem) translateY(-9rem);
  }
  .element {
    height: 30rem;
  }

  .area {
    transform: translateY(-9rem);
  }
}

@media (max-width: 50rem) {
  .element h1 {
    font-size: 2rem;
    margin-left: 1.875rem;
  }
  .element p {
    font-size: 0.8rem;
    margin-left: 1.875rem;
  }
  .element {
    height: 44rem;
  }

  .element iframe {
    width: 25rem;
    height: 18.125rem;
  }

  .area {
    transform: translateX(-1rem) translateY(-9rem);
  }

  .video {
    width: 25rem;
    min-width: fit-content;
    transform: translateX(-2rem) translateY(-9rem);
  }

  .image-container {
    transform: translateX(3rem);
  }
}

@media (max-width: 43.75rem) {
  .grid {
    grid-template-columns: 1fr !important;
  }

  .element {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .area {
    transform: translateX(0) translateY(-1rem); /* Center horizontally */
  }

  .demo {
    transform: translateX(-2rem);
  }

  .A,
  .word,
  .element h1,
  .element p {
    text-align: justify; /* Center text */
    margin-left: 0;
    margin-right: 0;
  }

  .element p {
    font-size: 0.9rem;
  }

  .element iframe {
    width: 25rem;
    height: 18rem;
  }

  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    transform: translateX(0) translateY(-2rem);
    margin: 0 auto;
    min-width: fit-content;
  }

  .image-container {
    display: none;
  }
  .element {
    height: 42rem;
  }
}

@media (max-width: 37.5rem) {
  .element iframe {
    width: 25rem;
    height: 15.625rem;
  }

  .video {
    transform: translateX(0) translateY(-1rem);
  }
}

@media (max-width: 31.25rem) {
  .element iframe {
    width: 25rem;
    height: 15.625rem;
  }

  .element h1 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }
  .element p {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
}

@media (max-width: 25rem) {
  .video {
    max-width: 23rem;
    min-width: 20rem;
    transform: translateX(0) translateY(-0.5rem);
  }
}

@media (max-width: 23rem) {
  .video {
    max-width: 21rem;
    min-width: 18rem;
    transform: translateX(0) translateY(-0.9rem);
  }
}
