# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build and cache
dist/
dist-ssr/
.vite/
out/
.cache/

# Environment variables
.env
.env.local
.env.development
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase-related files
.firebase/
firestore.indexes.json
firestore.rules
storage.rules

# Testing
coverage/
jest/
cypress/
*.spec.js
*.spec.ts

# OS-specific files
Thumbs.db